<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Borrow My Products</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Fontawesome CSS -->
    <link th:href="@{/css/all.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/css/style1.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/login.js}"></script>
    <style>
        .message {

            font-size:20px;
            text-align: center;
            font-weight:500;
            color:green;
            margin:17%;
        }

        #custom{

            font-size:20px;
            font-weight:700;
            text-align: center;
            color:red;
            margin:2%;
            margin-left:34%;
            margin-top: 1%;
        }

        .backButton {
    margin-top: -19%;
    margin-left: 43%;
    background-color: #f5fff3;
}



    </style>
</head>
<body>
<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-light top-nav fixed-top">

    <div class="container"><h3>BorrowMyProducts</h3>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/mainPage}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

    <div>
      <span id="custom"> Hurray!!! your product has been SOLDED OUT</span>

    </div>
<div class="message">

    Your Product has been successfully lended....Congrats!!!
    <br>
    Please check your Registered Mobile Number for further details. <br>

    Earn more by lending your products here.Thank you


</div>
<div>
    <a th:href="@{/myProducts}" class="btn btn-outline-primary backButton">Go Back To Your Products </a>
</div>
<script type="text/javascript" th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>